{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>email</th>
            <th>role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>

                {% for role in user.roles %}

                    {% if role == 'ROLE_USER' %}

                    <span class="badge rounded-pill text-bg-info">User</span>

                    {% elseif role == 'ROLE_ADMIN' %}


                        <span class="badge rounded-pill text-bg-success">Admin</span>

                     {% endif %}
                {% endfor %}
                {% if user == app.user %}
                    <span class="badge rounded-pill text-bg-warning">That's you</span>

                {% endif %}
            </td>
            <td>
                {% if 'ROLE_ADMIN' not in user.roles %}

                <a href="{{ path('app_promote_admin', {id:user.id}) }}" class="btn btn-success">Promote</a>

                {% else %}

                <a href="{{ path('app_demote_admin', {id:user.id}) }}" class="btn btn-danger">Demote</a>

                {% endif %}

                </td>

        </tr>


        {% endfor %}

        </tbody>

    </table>






{% endblock %}
