{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}



        <div class="card">
            <h3 class="card-title">{{ post.title }}</h3>
            <div class="card-body">

                {% if app.user %}

                    {% if post.author == app.user %}

                    <p><strong>(you wrote this one)</strong></p>

                    {% endif %}
                {% endif %}
                <p><strong>Author : {{ post.author.email }}</strong></p>
                <p>{{ post.content }}</p>
                <a href="{{ path('app_post_show', {id:post.id}) }}" class="btn btn-primary">See</a>
            </div>


        </div>






{% endblock %}
